<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<p>Hello World</p>

<table>
{% for dict_item in peeps %}
    <tr>
        <td>{{ dict_item.EmpBasic_Name }}</td>
        <td>{{ dict_item.LaborHed_DspClockInTime }}</td>
    </tr>
{% endfor %}
</table>
<br>
<br>
<table>
    <tr>
        <th>Part Number</th>
        <th>Part Description</th>
    </tr>
    {% for i in tbl %}
    <tr>
        <td>{{ i['Part Number'] }}</td>
        <td>{{ i['partdescription'] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>